
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yetenek Ekleme Sayfası</h2>
<div class="col-lg-3"></div>
<div class="col-lg-6">
    <form method="post" class="form-group" style="margin-top:25px;">

        <label>Yetenek Başlığı</label>
        <input type="text" name="SkillTitle" class="form-control" />
        <label>Yetenek Değeri</label>
        <input type="number" name="SkillValue" class="form-control" />
        <button style="margin-top:15px;" class="btn btn-info">Yetenek Ekle</button>
        <a style="margin-top:15px;"  class="btn btn-danger" href="/Skill/Index/">Geri Dön</a>



    </form>
</div>
<div class="col-lg-3"></div>
