@using Mvc_Project.Models
@model TblSkill
@{
    ViewBag.Title = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-lg-3"></div>
<div class="col-lg-6">
    <h2>Yetenek Düzenleme Sayfası</h2>
    <form method="post">
       
        @Html.TextBoxFor(x => x.SkillID, new { type = "hidden" })
        <br />



        <label>Yetenek Başlığı</label>
        @Html.TextBoxFor(x => x.SkillTitle, new { @class = "form-control" })
        <br />



        <label>Yetenek Değeri</label>
        @Html.TextBoxFor(x => x.SkillValue, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Yetenek Güncelle</button>
        <a  class="btn btn-danger" href="/Skill/Index/">Geri Dön</a>
    </form>
</div>
<div class="col-lg-3"></div>
