<div class="w3l-content-photo-5 py-5" id="about">
    <div class="content-main pt-lg-5 pt-md-3 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 content-photo">
                    <a href="#"><img src="/Content/assets/images/22.jpg" class="img-fluid" alt="content-photo"></a>
                </div>
                <div class="col-lg-7 content-left mt-lg-0 mt-5 pl-lg-5">
                    <h3>Başarısızlık, Başarıya Lezzet Veren Baharattır...</h3>
                    <p class="mb-0">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet non porro laboriosam rerum fugiat quod ullam earum
                        dignissimos corporis, nemo provident nostrum, nihil culpa. Et corrupti sit hic amet, animi unde cumque consequuntur omnis ad nihil optio
                        id eum qui, impedit deleniti? Veniam eum aspernatur incidunt? Doloremque, cum? Repellendus consectetur, cupiditate tenetur provident
                        neque, quas, totam eveniet nisi eius veritatis ea maiores ducimus a reprehenderit minima magnam dicta! Aliquam libero voluptatum facilis
                        dolorum architecto? Doloribus fuga voluptate voluptatem corporis rem! Culpa nam et accusamus beatae!
                    </p>
                    <a href="/Home/Index/" class="btn-theme2 btn mt-lg-5 mt-4">Benim Hakkımda</a>
                </div>
            </div>
        </div>
    </div>
</div>
