<section id="services-1" class="bg-light py-5">
    <div class="container py-lg-3">
        <div class="heading text-center mx-auto">
            <h3 class="head">Siteme Hoş Geldiniz</h3>
            <p class="my-3 head">
                Önce hastanenin boğazlarına, bakım yataklarına uzanmak, CNN lisesi üyeleri olarak artık yumuşak protein yok. Önündeki antrede, her şeyden önce, hastanenin boğazında, bakım ve çarmıha germe yatakları uzanıyor; Şimdi yumuşak protein yok
            </p>

        </div>
        <div class="row mt-lg-5">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-briefcase"></span>
                    </div>
                    <h4><a href="services.html">Uzman</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                        doloret quas saepe autem, dolor set.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-shield"></span>
                    </div>
                    <h4><a href="services.html">Sınırsız Revizyon</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                        doloret quas saepe autem, dolor set.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-dollar"></span>
                    </div>
                    <h4><a href="services.html">Tartışalım</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                        doloret quas saepe autem, dolor set.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

