<section class="w3l-subscribe" id="subscribe">
    <div class="main-host py-5 text-center">
        <div class="container py-lg-3">
            <div class="grids-forms">

                <div class="main-midd">
                    <h3 class="global-title mx-auto">Stay Up To Date, Subscribe To The Free Newsletter !</h3>
                </div>
                <div class="main-midd-2">
                    <form action="#" method="post" class="rightside-form">
                        <input type="email" name="email" placeholder="Enter your email">
                        <button type="submit" class="btn">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
