<section class="w3l-features-4">
    <!-- /features -->
    <div class="features py-5" id="services">
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head">Hizmetlerim</h3>
                <p class="my-3 head">
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Nulla mollis dapibus nunc, ut rhoncus
                    turpis sodales quis. Integer sit amet mattis quam.
                </p>
            </div>
            <div class="fea-gd-vv row mt-5 pt-3">
                <div class="float-lt feature-gd col-lg-4 col-md-6">
                    <div class="icon"> <span class="fa fa-code" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5>
                            <a href="#">
                                Web Dizayn
                            </a>
                        </h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                        <a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
                    </div>

                </div>
                <div class="float-mid feature-gd col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="icon"> <span class="fa fa-cogs" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5>
                            <a href="#">
                                Web Geliştirici
                            </a>
                        </h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                        <a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
                    </div>
                </div>
                <div class="float-rt feature-gd col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="icon"> <span class="fa fa-mobile" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5><a href="#">Uygulama Geliştirici</a></h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                        <a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
                    </div>
                </div>
                <div class="float-lt feature-gd col-lg-4 col-md-6 mt-5">
                    <div class="icon"> <span class="fa fa-lock" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5>
                            <a href="#">Siber Güvenlik</a>
                        </h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                        <a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
                    </div>

                </div>
                <div class="float-mid feature-gd col-lg-4 col-md-6 mt-5">
                    <div class="icon"> <span class="fa fa-bar-chart" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5>
                            <a href="#">
                                Dijital Pazarlama
                            </a>
                        </h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                        <a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
                    </div>
                </div>
                <div class="float-rt feature-gd col-lg-4 col-md-6 mt-5">
                    <div class="icon"> <span class="fa fa-info" aria-hidden="true"></span></div>
                    <div class="icon-info">
                        <h5>
                            <a href="#">Diğer Kategoriler</a>
                        </h5>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt  </p>
                        <a href="#" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //features -->
</section>

