<div class="contacts12-main col-lg-6 ">

    <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="main-input">
        <div class="top-inputs d-grid">
            <input type="text" placeholder="Ad" name="w3lName" id="w3lName" required="">

        </div>
        <input type="email" name="email" placeholder="E-Posta" id="w3lSender" required="">

        <textarea placeholder="Mesaj" name="w3lMessage" id="w3lMessage" required=""></textarea>
        <div class="text-right">
            <button type="submit" class="btn btn-theme2">Kaydet</button>
        </div>
    </form>
</div>

