
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="w3l-service-breadcrum">
    <div class="breadcrum-bg">
        <div class="container py-5">
            <p><a href="index.html">Home</a> &nbsp; / &nbsp; Services</p>
        </div>
    </div>
</section>
@Html.Action("MyServicesPartial", "ServicesPartial")
@Html.Action("PackagePartial", "ServicesPartial")